*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
bin/*
*.cbk
*.dsk
*.cfg
*.dof
*.bak
/CMDHighlighter/CMDHighlighter.dres
/CMDHighlighter/CMDHighlighter.res
/CMDHighlighter/CMDHighlighterResource.rc
